pyaudio
openai
langchain==0.2.6
langchain-community==0.2.1
langchain-experimental==0.0.59
langchain-openai==0.1.13
langchain-text-splitters==0.2.0
langserve==0.2.1
langsmith==0.1.82
jupyterlab
jupyterlab-vim
python-dotenv
pandas==2.2.2
uvicorn==0.30.3
fastapi==0.111.1
streamlit==1.36.0
